
<header>
    <h1>MEMORY GAME</h1>
    <button (click)="newGame(cards)" class="newGame">New Game </button>
</header>
<div class="wrapper">
<div class="center">
    <div  *ngFor="let item of cards; let i = index" name="item" id="item"   (click)="state(item, i)" class="card" >
        <div class="front "><span class="icon-magic-wand i-f"></span></div>
        <div class="back"><span class='{{item.card}} i-b'></span></div>
    </div>
</div>


</div>

<div style="" [ngClass]="{invisible: visibility}" class="unvisible"></div>
<footer>
    <div class="score"><span>{{count}}</span></div>
    <div><h3 class="moves">Moves</h3></div>
</footer>



