 div.card{
     width: 80px;
     height: 127px;
    float: left;
    margin: 10px;

}
div.cardShow{
    width: 80px;
    height: 127px;
    float: left;
    margin: 10px;
}
.wrapper{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    min-height: 610px;
}
.invisible{
    display:none;
}
.unvisible{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 999;
}
.center{
    z-index: 104;
    flex: 1;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    max-width: 540px;
    max-height: calc(100% - 150px);
}
.container {
    margin: 100px auto auto 100px;
    position: relative;
    width: 190px;
    height: 266px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}
#card {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#item{
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.card:hover .front{
    border: 5px solid #3e3e3e;
}
#item.flip{
    transform: rotateY(180deg);
}
#card.flip {
    transform: rotateY( 180deg );
}
.show{
    transform: rotateY( 180deg );
}
.back {
    background: white;
    position: absolute;
    transform: rotateY( 180deg );
    width: 80px;
    height: 127px;
    border-radius: 5%;
}
:host{
    z-index: 104;
    flex: 1;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    max-width: 540px;
    max-height: calc(100% - 150px);
}
.front {
    position: absolute;
    background: white;
    border: 5px solid #000;
    border-radius: 5%;
    margin: -5px 0px 0px -5px;
    background-size: 110px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    width: 80px;
    height: 127px;
}
.i-f{
    font-size: 60px;
    color: #3e3e3e;
    margin: 35px 0 0 -30px;
    position: absolute;
}
.i-b{
    font-size: 85px;
    color: #3e3e3e;
    position: relative;
    top: 35px;
}